<form #formularioUsuario="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioUsuario)"
>
  <div>
    <p *ngIf="inputNombre.errors">

      <p-message
        *ngIf="inputNombre.errors.required"
        severity="warn"
        text="Error: El nombre es requerido"></p-message>

    </p>
    <label [hidden]="true"
           for="nombreU">Nombre</label>

    <div class="ui-inputgroup">
      <input id="nombreU"

             pInputText
             placeholder="NombreU"


             required
             type="text"
             name="nombreU"
             [(ngModel)]="nombreU"
             #inputNombre="ngModel"
      >
    </div>

  </div>

  <div>
    <label for="correoU">Correo</label>
    <input id="correoU"
           name="correoU"
           type="text"
           [(ngModel)]="correoU"
    >
  </div>
  <div>
    <label for="passwordU">Password</label>
    <input id="passwordU"
           name="passwordU"
           type="password"
           [(ngModel)]="passwordU"
    >
  </div>
  <div>

     <div class="input-group-prepend">
     <label class="input-group-text" for="BrowRoles">Tipo de Convenio</label>
   </div>

   <input class="custom-select" list="browrol" id="BrowRoles" name="BrowRoles" ngModel />
   <datalist id="browrol" >
     <option *ngFor="let cbxrol of cbxrols" value=  {{cbxrol}}>
   </datalist></div>

  <button>
    Enviar Datos
  </button>
</form>
